#!/usr/bin/make -f

%:
    dh $@

override_dh_install:
    wget -O smarter https://github.com/smarter-sh/smarter-cli/releases/download/v0.1.2/smarter-ubuntu-latest-0.2.0
    chmod +x smarter
    dh_install smarter /usr/bin/
