name: Build-Release DockerHub

on:
  workflow_dispatch:

env:
    container_name: smarter-cli
    account: mcdaniel0073

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}


    - name: Get version
      id: vars
      run: echo "::set-output name=version::$(cat VERSION)"


    - name: Build and push
      id: docker_build
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        tags: |
          ${{ env.account }}/${{ env.container_name }}:latest
          ${{ env.account }}/${{ env.container_name }}:${{ github.sha }}
          ${{ env.account }}/${{ env.container_name }}:v${{ steps.vars.outputs.version }}
        cache-from: type=local,src=/tmp/.buildx-cache
        cache-to: type=local,dest=/tmp/.buildx-cache

    - name: Image digest
      run: echo ${{ steps.docker_build.outputs.digest }}
