---
#---------------------------------------------------------
# - Create a semantical release
# - Merge main into next, alpha, beta, and next-major
#---------------------------------------------------------
name: Push to main

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  semantic-release:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.PAT }}

    steps:
      - uses: actions/checkout@v5
        id: checkout
        with:
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24.10"

      - name: Install dependencies
        run: npm install
        shell: bash

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v5
        id: semantic
        with:
          branches: |
            [
              '+([0-9])?(.{+([0-9]),x}).x',
              'main',
              'next',
              'next-major',
              {
                name: 'beta',
                prerelease: true
              },
              {
                name: 'alpha',
                prerelease: true
              }
            ]
        env:
          GIT_COMMITTER_NAME: github-actions[bot]
          GIT_COMMITTER_EMAIL: github-actions[bot]@users.noreply.github.com
          GIT_AUTHOR_NAME: github-actions[bot]
          GIT_AUTHOR_EMAIL: github-actions[bot]@users.noreply.github.com

      - name: Publish To GitHub Package Registry
        id: publish
        if: steps.semantic.outputs.new_release_published == 'true'
        run: echo "new release was published"
        shell: bash

      - name: Push updates to branch for major version
        id: push_major
        if: steps.semantic.outputs.new_release_published == 'true'
        run: "git push https://x-access-token:${{ secrets.PAT }}@github.com/${GITHUB_REPOSITORY}.git HEAD:refs/heads/v${{steps.semantic.outputs.new_release_major_version}}"
        shell: bash
